html{
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    background: url("img/blog-background-simple-and-chic-natural-linen-3-column-b-o-ibackgroundz.com_.jpg") repeat-y center;
    background-size: cover;
    min-height: 100%;

}
#container {
    align-content: center;
    height: 100%;
    margin-bottom: 180px;
}

nav {
    background-color:#363B3F;
}

nav a {
    color: white;
    font-family: Helvetica, sans-serif;
}

footer {
    position: fixed;
    left:0px;
    bottom:0px;
    height:170px;
    width:100%;
    background:#363B3F;
    padding: 2%;
    color: white;
}

footer a {
    color:#9D9D9D;
    font-family: Helvetica, sans-serif;
}

form {
    color:#222;
}

#loginForm {
    margin-top: 6%;
    padding: 1%;
}
h1 {
    color:#9D9D9D;
    margin-top: 7%;
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

#blogHeader {
    height: 200px;
    background: url("img/background-city.jpg") no-repeat center;
    background-size: cover;
    opacity: .9;
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
}
#postPanels {
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    height: 100%;
}
#newPostButton {
    font-family: Helvetica, sans-serif;
    background-color: #2E444F;
    color: white;
    opacity: .9;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*font-size: 18px;*/
}
#panelHead {
    font-family: Helvetica, sans-serif;
    background-color: #2E444F;
    opacity: .7;
    color: white;
}
