<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/header :: header(${'Create Post'})"/>
<body>
<nav th:include="fragments/navbar :: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-6">
            <h2>Enter new post</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <form class="form-horizontal" th:action="@{/posts/create}" method="post" th:object="${post}">
                <div class="form-group">
                    <label for="title" class="col-xs-2">Title</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="title" th:field="*{title}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="body" class="col-xs-2">Body</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="body" th:field="*{body}" rows="5"/>
                    </div>
                </div>
                <!--<div class="form-group">
                    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
                    <label for="body" class="col-xs-2">Select an image</label>
                    <input type="filepicker" data-fp-apikey="A6QFo0HzXQGOOesQqtz0dz"
                           onchange="alert(event.fpfile.url)" th:field="*{imgURL}"/>
                </div>-->
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-8">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




</div>

<footer th:include="fragments/footer :: footer"/>
</body>
</html>