<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <form th:fragment="create-post-form(action)" class="form-horizontal" th:action="@{'/posts/'+${action}}" method="post" th:object="${post}">
        <div class="form-group">
            <label for="title" class="col-xs-2">Title</label>
            <div class="col-xs-8">
                <input class="form-control" id="title" th:field="*{title}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            </div>
        </div>
        <div class="form-group">
            <label for="body" class="col-xs-2">Body</label>
            <div class="col-xs-8">
                <textarea class="form-control" id="body" th:field="*{body}" rows="5"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>


</body>
</html>