<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<form th:fragment="create-user-form(action)" class="form-horizontal" th:action="@{'/users/'+${action}}" method="post" th:object="${user}">
    <div class="form-group">
        <label for="username" class="col-xs-2">Username</label>
        <div class="col-xs-8">
            <input class="form-control" id="username" th:field="*{username}" />
            <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-xs-2">Password</label>
        <div class="col-xs-8">
            <input class="form-control" id="password" type="password" th:field="*{password}"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-xs-2">Email</label>
        <div class="col-xs-8">
            <input class="form-control" id="email" type="email" th:field="*{email}"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-8">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>


</body>
</html>