<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-inverse" id="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/posts">Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Login</a></li>
                    <!--<li><a href="/logout">Logout</a></li>-->
                    <li>
                        <a href="javascript: submitForm()">Logout</a>
                        <form name="myLogoutForm" th:action="@{/logout}" method="post">
                            <input type="hidden" name="logout" id="logout"/>
                        </form>
                        <script type="text/javascript">
                            function submitForm()
                            {
                                document.myLogoutForm.submit();
                            }
                        </script>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>