<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Roll Dice</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../static/style.css"/>
</head>
<body>
<h1>Your guess</h1>
<a class="btn btn-primary" href="/roll-dice/1" role="button">1</a>
<a class="btn btn-primary" href="/roll-dice/2" role="button">2</a>
<a class="btn btn-primary" href="/roll-dice/3" role="button">3</a>
<a class="btn btn-primary" href="/roll-dice/4" role="button">4</a>
<a class="btn btn-primary" href="/roll-dice/5" role="button">5</a>
<a class="btn btn-primary" href="/roll-dice/6" role="button">6</a>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>

<!-- How to generate buttons dynamically
<a th:each="n : ${#numbers.sequence(1, 6)}"
   th:href="@{/roll-dice/{guess}(guess=${n})}"
   th:text="${n}"
   class="btn btn-lg btn-default"></a>

   -->
